.new-survey-form {
  color: #ff0000;
}

.question-form {
  padding: 20px;
  margin: 10px 0;
  border: solid 1px $darkBlue;
  width: 300px;

  label {
    width: 80px;
  }

  .choices-form {
    .choice {
      margin-top: 10px;
    }
  }
}