header {
  @include h1;
  text-align: center;
  color: white;
  padding: 50px 0;

  .subheader {
    @include h3;
    padding-top: 10px;
  }

}

.survey {
  background-color: white;
  padding: 50px 50px 100px 50px;

  .question {
    color: $darkBlue;

    .text {
      @include h3;
      text-align: center;
    }

    .choices {
      padding: 20px 100px;
      text-align: center;

      .choice {
        display: inline-block;
        vertical-align: top;

        .background {
          background-color: $green;
          width: 120px;
          height: 120px;
          padding: 10px;
          display: table;
          cursor: pointer;

          .text {
            @include h5;
            display: table-cell;
            vertical-align: middle;
          }

          &:hover{
            background-color: $lightGreen;
          }
        }

        &.selected {
          .background {
            background-color: $darkGreen;
            color: white;
          }
        }

        &:not(:last-child) {
          margin-right: 50px;
        }

        &.result {

          .background {
            cursor: auto;
            .amount {
              @include h3;
              padding-top: 10px;
            }
            &:hover {
              background-color: $green;
              color: $darkBlue;
            }
          }
        }

      }
    }
  }
}

.navigation {
  position: relative;

  .next-button {
    @include regular-font;
    background-color: $darkBlue;
    color: white;
    padding: 20px;
    display: inline-block;
    position: absolute;
    right: 20px;

    &.active {
      background-color: $green;
      cursor: pointer;
    }

    &.inactive {
      background-color: $darkBlue;
    }
  }

}