<header>My Surveys!</header>

<article class="survey">
  <section class="titles">
    <% @surveys.all.each do |survey| %>
        <%= link_to survey.title, survey %>
    <% end %>
  </section>
</article>