<header>New Survey</header>

<article class="controls">
  <%= link_to "Back", surveys_path %>
</article>

<article class="survey">
  <section class="new_survey_form">
    <form>

    </form>
  </section>
</article>