@mixin default-font {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 105%;
  letter-spacing: normal;
  text-transform: none;
}

@mixin regular-font {
  @include default-font;
  font-weight: normal;
}

@mixin bold-font {
  @include default-font;
  font-weight: bold;
}

@mixin h1 {
  @include bold-font;
  font-size: 40px;
}

@mixin h3 {
  @include bold-font;
  font-size: 24px;
}

@mixin h5 {
  @include regular-font;
}

@mixin h6 {
  @include regular-font;
  font-size: 15px;
}