form {



  input[type="text"] {
    @include h6;
    border: 1px solid $darkBlue;
    height: 21px;
    padding: 0px 3px 1px 3px;
    color: $darkBlue;
  }

  input.button {
    @include h5;
    border: none;
    background-color: $green;
    color: white;
    display: block;
    height: 30px;
    padding: 0 10px;
    margin-top: 10px;

    &:hover {
      background-color: $darkGreen;
    }
  }

  :focus {
    outline-color: transparent;
    outline-style: none;
  }

  label {
    @include h5;
    display: inline-block;
    color: $darkBlue;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
  }

  .errors {
    color: $errorColor;
    padding: 5px 0;
  }

  .field_with_errors {
    display: inline-block;

    &.input[type="text"] {
      border-color: $errorColor;
    }
  }

}

