body {
  background-color: $primaryBlue;
}

.content {
  @include layout;
  padding-top: 20px;
}

.templates {
  display: none;
}

a {
  @include regular-font;
  text-decoration: none;
  color: $green;
  &:hover {
    color: $darkGreen;
  }
}