body {
  background-color: $primaryBlue;
  @include regular-font;
}

.content {
  @include layout;
  padding-top: 20px;
}

.templates {
  display: none;
}

a {
  @include regular-font;
  text-decoration: none;
  color: $green;
  &:hover {
    color: $darkGreen;
  }
}

form {

  input[type="text"] {
    border: 1px solid black;
  }

  input.button {
    border: none;
    background-color: $green;
    color: white;
    display: block;
    height: 30px;
    padding: 0 10px;
    @include h5;

    &:hover {
      background-color: $darkGreen;
    }
  }

  .errors {
    color: $errorColor;
    padding: 5px 0;
  }

  .field_with_errors {
    display: inline-block;

    &.input[type="text"] {
      border-color: $errorColor;
    }
  }

}